<div class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse" data-ke-collapse>
    <ul class="nav" id="side-menu" data-ke-side-menu>
      <li>
        <a data-ng-href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
      <li class="active" data-ng-controller="InventorySidebarCtrl">
        <a href="#"><i class="fa fa-cubes fa-fw"></i> Inventory<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level" style="height: auto;">
          <li class="active">
            <a href="#">Products<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
              <li data-ng-repeat="pr in products">
                <a data-ng-href="/inventory/products/{{ pr.id }}">{{ pr.name }}</a>
              </li>
            </ul>
          </li>
          <li>
            <a data-ng-href="/inventory/suppliers">Suppliers</a>
          </li>
          <li>
            <a href="#">Config<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
              <li>
                <a href data-ng-click="openNewProductForm()">Add Product</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>
    </ul>
    <!-- /#side-menu -->
  </div>
  <!-- /.sidebar-collapse -->
</div>