<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">×</button>
  <h3>{{ partsFormHeader }}</h3>
</div>
<div class="modal-body">
  <div class="alert alert-success alert-dismissable" data-ng-show="isProductAdded">
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">&times;</button>
    New product is added successfully. You can continuously add parts.
  </div>
  <form role="form">
    <div class="form-group">
      <label>Parts Name</label>
      <input type="text" class="form-control" placeholder="Name" data-ng-model="partsForm.name" />
    </div>
    <div class="form-group">
      <label>Number of Needed Parts per Product</label>
      <input type="number" class="form-control" placeholder="Number of Parts per Product" data-ng-model="partsForm.neededQuantity" />
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" rows="3" data-ng-model="partsForm.description"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-lg btn-success" data-ng-click="addParts()" data-ng-show="isNewPartsForm">Create</button>
  <p data-ng-hide="isNewPartsForm">
    <button type="button" class="btn btn-lg btn-danger" data-ng-click="removePartsAlert()">Remove</button>
    or
    <button type="button" class="btn btn-lg btn-primary" data-ng-click="editParts()">Update</button>
  </p>
</div>
