<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">×</button>
  <h3>{{ supplierFormHeader }}</h3>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label>Company Name</label>
      <input type="text" class="form-control" placeholder="Company Name" data-ng-model="supplierForm.companyName" />
    </div>
    <div class="form-group">
      <label>Personal Name</label>
      <input type="text" class="form-control" placeholder="Personal Name" data-ng-model="supplierForm.personalName" />
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <input type="tel" class="form-control" placeholder="Personal Name" data-ng-model="supplierForm.phoneNumber" />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-lg btn-success" data-ng-click="addSupplier()" data-ng-show="isNewSupplierForm">Create</button>
  <p data-ng-hide="isNewSupplierForm">
    <button type="button" class="btn btn-lg btn-danger" data-ng-click="removeSupplierAlert()">Remove</button>
    or
    <button type="button" class="btn btn-lg btn-primary" data-ng-click="editSupplier()">Update</button>
  </p>
</div>
