<div class="modal-header">
  <button type="button" class="close" data-ng-click="$dismiss()">&times;</button>
  <h3>Classify Parts</h3>
</div>
<div class="modal-body">
  <form role="form" name="classifyPartsForm">
    <div class="form-group">
      <label for="classify-form-classified-quantity">Classified Quantity</label>
      <input id="classify-form-classified-quantity" type="number" class="form-control" placeholder="Classified Quantity" data-ng-model="classifyPartsFormInputs.classifiedQuantity" required />
    </div>
    <div class="form-group">
      <label for="classify-form-inventory">Classify Parts to New or Exist Inventory</label>
      <select id="classify-form-inventory" data-ng-model="classifyPartsFormInputs.inventoryId">
        <option value="">Create New Inventory</option>
        <option data-ng-repeat="inventory in inventories" value="{{ inventory.id }}">{{ parts.name }} Inventory {{ $index + 1 }} {{ !!inventory.description ? "(" + i.description + ")" : "" }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="classify-form-inventory-description">Description for New Inventory (If You Create New One)</label>
      <textarea id="classify-form-inventory-description" class="form-control" rows="3" data-ng-model="classifyPartsFormInputs.inventoryDescription"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-lg btn-warning" data-ng-click="classifyParts()" data-ng-disabled="classifyPartsForm.$invalid">Classify</button>
</div>
