<div id="wrapper">
  <div data-ke-navbar></div>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          {{ product.name }}
          <small>Inventory</small>
        </h1>
        <p class="lead">{{ product.description }}</p>
      </div>
      <!-- /.col-lg-12 -->
      <div class="col-lg-2 pull-right" style="margin-bottom: 20px;">
        <button type="submit" class="btn btn-md btn-primary btn-block" data-ng-click="openEditProductForm()">Edit Product</button>
      </div>
      <div class="col-lg-2 pull-right" style="margin-bottom: 20px;">
        <button type="submit" class="btn btn-md btn-success btn-block" data-ng-click="openAddComponentForm(product)">Add Component</button>
      </div>
      <div class="col-lg-12" data-ng-controller="ComponentPanelsCtrl">
        <div class="panel panel-default" data-ng-repeat="component in components">
          <div class="panel-heading">
            <h2>{{ component.name }}</h2>
          </div>
          <!-- .panel-heading -->
          <div class="panel-body">
            <button type="button" class="btn btn-xs btn-warning pull-right" style="margin-left: 10px" data-ng-click="openAddOrderForm(component)">Order Component</button>
            <button type="button" class="btn btn-xs btn-primary pull-right" style="margin-left: 10px" data-ng-click="openEditComponentForm(component)">Edit Component</button>
            <button type="button" class="btn btn-xs btn-success pull-right" style="margin-left: 10px" data-ng-click="openAddInventoryForm(component)">Add Inventory</button>
            <p class="lead">{{ component.description }}</p>
            <div data-ng-controller="InventoryTableCtrl">
              <h3>Inventories</h3>
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th width="5%"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="inventory in inventories">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ inventory.quantity }}</td>
                    <td>{{ inventory.description }}</td>
                    <td>
                      <a href data-ng-click="openEditInventoryForm(inventory)">Edit</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Unclassified</td>
                    <td>{{ unclassifiedQuantity }}</td>
                    <td></td>
                    <td>
                      <a href data-ng-click="openClassifyComponentForm(component)"
                         data-ng-show="component.unclassifiedQuantity > 0">Classify</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Sum</td>
                    <td>{{ unclassifiedQuantity + totalQuantity(inventories) }}</td>
                    <td></td>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <div data-ng-controller="OrderTableCtrl">
              <h3>Orders</h3>

              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Ordered Quantity</th>
                    <th>Ordered Date</th>
                    <th>Shipped Date</th>
                    <th>Delivered Date</th>
                    <th>Status</th>
                    <th width="5%"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="order in orders">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.orderedDate }}</td>
                    <td>{{ order.shippedDate }}</td>
                    <td>{{ order.deliveredDate }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                      <a href="" data-ng-click="openEditOrderForm(order)" data-ng-hide="isDelivered(order)">Edit</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Delivered</td>
                    <td>{{ totalQuantity(deliveredOrders(orders)) }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Sum</td>
                    <td>{{ totalQuantity(orders) }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
          </div>
          <!-- /.panel-body -->
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
  </div>
</div>
