<div id="wrapper">
  <div data-ke-navbar></div>
  <div id="page-wrapper">
    <div class="row col-lg-12">
      <div class="page-header">
        <div class="page-header__body">
          <p class="page-header__group">Inventory : Products</p>
          <h1 class="page-header__title">{{ product.name }}</h1>
          <p class="lead">{{ product.description }}</p>
        </div>
        <div class="page-header__btn">
          <button type="submit" class="btn btn-default btn-page-header" data-ng-click="openEditProductForm()"><i class="fa fa-pencil fa-fw"></i> Edit Product</button>
        </div>
      </div>
      <div class="page-header__addcomponent">
        <button type="submit" class="btn btn-primary btn-page-header" data-ng-click="openAddComponentForm(product)"><i class="fa fa-plus fa-fw"></i> Add Component</button>
      </div>
      <div data-ng-controller="ComponentPanelsCtrl">
        <div class="panel panel-default" data-ng-repeat="component in components">
          <div class="panel-heading">
            <h2>{{ component.name }}</h2>
            <div class="panel-heading__btn">
              <a type="button" class="btn btn-edit-component" data-ng-click="openEditComponentForm(component)"><i class="fa fa-pencil fa-fw"></i> Edit Component</a>
            </div>

          </div>
          <!-- .panel-heading -->
          <div class="panel-body">
            <p class="panel-heading-lead">{{ component.description }}</p>
            <div data-ng-controller="InventoryTableCtrl">
              <div class="body-heading body-inventories">
                <h3>Inventories</h3>
                <div class="body-heading__btn">
                  <a class="btn btn-add-inventory" data-ng-click="openAddInventoryForm(component)"><i class="fa fa-plus fa-fw"></i> Add Inventory</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th class="edit_column"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="inventory in inventories">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ inventory.quantity }}</td>
                    <td>{{ inventory.description }}</td>
                    <td class="edit_cell">
                      <a href data-ng-click="openEditInventoryForm(inventory)"><i class="fa fa-pencil fa-fw"></i> Edit</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Unclassified</td>
                    <td>{{ unclassifiedQuantity }}</td>
                    <td></td>
                    <td class="edit_cell">
                      <a href data-ng-click="openClassifyComponentForm(component)" data-ng-show="component.unclassifiedQuantity > 0"><i class="fa fa-folder-o fa-fw"></i> Classify</a>
                    </td>
                  </tr>
                  <tr class="last_row">
                    <td>Sum</td>
                    <td>{{ unclassifiedQuantity + totalQuantity(inventories) }}</td>
                    <td></td>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <div data-ng-controller="OrderTableCtrl">
              <div class="body-heading body-order">
                <h3>Orders</h3>
                <div class="body-heading__btn">
                  <a class="btn btn-add-order" data-ng-click="openAddOrderForm(component)"><i class="fa fa-plus fa-fw"></i> Order Component</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Ordered Quantity</th>
                    <th>Status</th>
                    <th>Ordered Date</th>
                    <th>Shipped Date</th>
                    <th>Delivered Date</th>
                    <th class="edit_cell"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="order in orders">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.orderedDate }}</td>
                    <td>{{ order.shippedDate }}</td>
                    <td>{{ order.deliveredDate }}</td>
                    <td class="edit_cell">
                      <a href="" data-ng-click="openEditOrderForm(order)" data-ng-hide="isDelivered(order)"><i class="fa fa-pencil fa-fw"></i> Edit</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Delivered</td>
                    <td>{{ totalQuantity(deliveredOrders(orders)) }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="last_row">
                    <td>Sum</td>
                    <td>{{ totalQuantity(orders) }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
          </div>
          <!-- /.panel-body -->
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
  </div>
</div>
