<div id="wrapper">
  <div data-ke-navbar></div>
  <div id="page-wrapper">
    <div class="row col-lg-12">
      <div class="page-header">
        <p class="page-header__group">Inventory</p>
        <h1 class="page-header__title">Suppliers</h1>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table_suppliers">
          <thead>
            <tr>
              <th>Company Name</th>
              <th>Personal Name</th>
              <th>Phone Number</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="supplier in suppliers">
              <td>{{ supplier.companyName }}</td>
              <td>{{ supplier.personalName }}</td>
              <td>{{ supplier.phoneNumber }}</td>
              <td><a href data-ng-click="openEditSupplierForm(supplier)"><i class="fa fa-pencil fa-fw"></i> Edit</a>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-primary" data-ng-click="openAddSupplierForm()"><i class="fa fa-plus fa-fw"></i> Add Supplier</button>
    </div>
  </div>
</div>
